<launch>
    <node name="base_to_camera" pkg="tf" type="static_transform_publisher" output="screen"
      args="0 0 0.1 -1.57 0 -1.57 base_link camera 10" />

    <arg name="marker_size" default="4.6" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.1" />
    <arg name="cam_image_topic" default="/camera/image_color" />
    <arg name="cam_info_topic" default="/camera/camera_info" />	
    <arg name="output_frame" default="/camera" />
    
    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen"
     args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
